@import "tailwindcss";

@theme {
  --color-grey-15: #262625;
  --color-white-97: #f7f7f8;
  --color-white-95: #f1f1f3;
  --color-white-99: #fcfcfd;
  --color-orange-50: #ff9500;
  --color-orange-90: #ffeacc;
  --color-orange-70: #ffbf66;
  --color-orange-75: #ffca80;
  --color-orange-97: #fff9f0;
  --font-dmSans: "DM Sans", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-dmSans text-grey-15 bg-white-97;
  }
}
/* xl 1130px  2xl 1380px lg 960px*/
@layer utilities {
  .container {
    @apply px-4 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[1130px] xl:max-w-[1380px] 2xl:max-w-[1920px];
  }
  button {
    @apply cursor-pointer block;
  }
  p {
    @apply text-sm md:text-base lg:text-lg leading-normal;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold text-balance leading-tight;
  }
  .section {
    @apply pt-20 lg:mt-32;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply text-2xl lg:text-[22px];
  }
}

@layer components {
  .primary-btn {
    @apply bg-orange-50 text-white px-8 py-4 rounded-lg font-semibold hover:bg-orange-50/90 transition-colors;
  }
  .secondary-btn {
    @apply px-8 py-4 bg-white border border-white-95 rounded-md hover:bg-orange-90 transition-colors;
  }
  .play-btn {
    animation: 2s pulseAni ease infinite;
  }
  @keyframes pulseAni {
    0% {
      box-shadow: 0 0 0 white;
    }
    100% {
      box-shadow: 0 0 0 20px transparent;
    }
  }
}

@layer components {
  .primary-btn{
    @apply bg-orange-50 text-white px-8 py-4 rounded-lg font-semibold hover:bg-orange-50/90;
  }
}

/* Header */
.navBar {
  @apply lg:hidden fixed top-0 left-0 w-full h-screen bg-white flex flex-col items-center justify-center z-40 transition-transform -translate-y-full;
}

.navBar.active {
  @apply translate-y-0;
}

#home, #about {
  @apply scroll-margin-top: 20px; /* match header height */
}